div {
    height:500px;
    width:500px;
    padding: 20px;
    background-color:brown;
    text-align: center;
    font-size: 28px;
    font-family: Arial;
}

#hrr {
    background-color:burlywood;
    height: 30px;
    width: 100px;
}